asn1crypto==0.24.0
awscli==1.16.106
beautifulsoup4==4.6.3
botocore==1.12.96
cachetools==2.1.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
colorama==0.3.9
cryptography==2.3.1
dill==0.2.8.2
Django==1.11.4
docutils==0.14
enum34==1.1.6
future==0.16.0
futures==3.2.0
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.17.0
google-auth==1.5.1
google-gax==0.16.0
googleapis-common-protos==1.5.3
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.15.0
gyp==0.1
html5lib==1.0.1
httplib2==0.11.3
idna==2.7
ipaddress==1.0.22
jmespath==0.9.3
jws==0.1.3
keyring==10.6.0
keyrings.alt==3.0
lxml==4.2.5
mechanize==0.3.7
oauth2client==3.0.0
Pillow==5.2.0
ply==3.8
protobuf==3.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.2
PyAudio==0.2.11
pycparser==2.19
pycrypto==2.6.1
pycryptodome==3.4.3
pygobject==3.26.1
PyJWT==1.6.4
pyOpenSSL==18.0.0
Pyrebase==3.0.27
python-dateutil==2.8.0
python-jwt==2.0.1
python-memcached==1.59
pytz==2018.5
pyxdg==0.25
PyYAML==3.13
requests==2.19.1
requests-toolbelt==0.7.0
rsa==4.0
s3transfer==0.2.0
SecretStorage==2.3.1
selenium==3.141.0
six==1.12.0
stripe==2.8.1
twilio==6.18.1
unity-lens-photos==1.0
urllib3==1.24.1
virtualenv==16.0.0
webencodings==0.5.1
